body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
        text-align: center;
        margin: auto;
}

.logo {
    max-width: 300px;
    height: auto;
}

.inline-img {
    margin: 0 10px;
}

.icon {
    width: 15px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}